*{
    padding: 0;
    margin: 0;
    border: 0;
}

html {
    font-family: helvetica;
}

header {
    width: 100%;
    height: 40px;
    background-color: #212121;
    display: flex;
}

#inicio {
    color: #fff;
    margin: 10px 0 10px 130px;
}

#primeiranav {
    width: 60px;
    height: auto;
    justify-content: center;
    background-color: #F9A825;
    border-radius: 10px;
    padding: 2px;
}

nav {
    display: flex;
    margin-left: 30px;

}

nav:hover {
    width: 75px;
    border: 1px solid #F9A825;
    border-radius: 10px;
    background-color: #F9A825;
    justify-content: center;
}

.div {
    display: flex;
    margin: 10px;
    position: absolute;
    top: 2px;
    right: 185px;
}

a {
    text-decoration: none;
    color: #fff;
}

main {
    width: 490px;
    height: 140px;
    position: absolute;
    top: 27%;
    right: 30%;
    display: flex;
    border: 1px solid #212121;
    padding: 27px;
}

.lorem {
    width: 50%;
    margin-top: 15px;
    height: auto;
    border-right: 1px dotted #212121;
}

input {
    width: 50%;
    height: 30px;
    margin-top: 55px;
    margin-left: 10px;
    border: 1px solid #212121;
    border-radius: 3px ;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: #212121;
    width: 100%;
    height: 80px;
}

.fim{
    color: #fff;
    position: absolute;
    bottom: 25px;
    right: 600px;
}