* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

  font-family: verdana;
}

header {

    width: 100%;
    height: 200px;
    background: linear-gradient(#2196F3, #3D5AFE, #0D47A1)  ;
}

#meacha {

  padding-top: 40px;
}

h1, p {

    text-align: center;
    color: #fff;
}

 .icons {

    font-size: 60px;
    background-color: #fff;
    padding: 15px;
    border-radius: 100%;
    color: #2196F3;
    position: absolute;
    right: 47%;
    top: 25%;

} 

form{

    width: 380px;
    height: auto;
    position: absolute;
    padding: 10px 45px 25px 45px;
    top: 40%;
    right: 35%;
    border: 1px solid black;
}

.texto {

    display: block;
    width: 300px;
    height: 24px;
}

.enviar {

    width: 105%;
    height: 35px;
    background: #2196F3;
    color: #fff;
    margin-top: 5px;

}
