header{
    width: 100%;
    height: 80%;
    background-color: tomato;
    border-bottom: 3px solid black;
}

h1{
  width: 80%;
  height: 50px;
  color: #fff;
  margin: 0 auto;
  padding: 10px; 
}