*{
  margin: 0;
  padding: 0;   
  border: 0;
}

header{
  width: 100%;
  height: 80px;
  background-color: #90EE90;
  border-bottom: 3px solid #000;
}

h1{
   width: 81%;
   height: 50px;
   color: #fff;
   padding: 20px;
   text-align: center;

  }

 div{
    width: 400px; 
    height: 400px;
    border: 1px solid #000;
    margin: 30px auto;
    /*background-color: rgba(105, 89, 205, 0.7);*/
    /*background: linear-gradient(to left, #0000FF, #00FFFF, #00FA9A);*/
    background: radial-gradient(circle, #0000FF, #00FFFF, #00FA9A)
 }

