*{
    margin: 0;
    padding: 0;
    bottom: 0;
}

div{
    width: 300px;
    height: 300px;
    border: 1px solid #000;
    background-color: rgb(65,105,225);
}

#segundadiv{
    background-color: rgba(65, 105, 225, 0.5);
}